@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada:wght@700&display=swap");

body {
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow: hidden;
  background: black;
}
.flex-center-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.flex-center-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: "Montserrat Subrayada", sans-serif;
  background: -webkit-linear-gradient(180deg, #0900ff, #030056);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.choices {
  margin: 10vh auto;
}
.hidden {
  display: none;
  opacity: 0;
}
.play-txt {
  text-align: center;
  cursor: pointer;
}
.choice {
  margin: auto 5vw;
  border-radius: 0.2rem;
  padding: 1rem;
  box-sizing: border-box;
  transition: all 0.25s ease-in;
  cursor: pointer;
}

.fas {
  background: -webkit-linear-gradient(180deg, #0900ff, #030056);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.choice:hover {
  transform: translateY(2px) scale(0.97);
  transition: all 0.25s ease-in;
}
footer,
.play-txt,
.rslt-txt {
  color: white;
}
